{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'home/css/estilos.css' %}">

<h3 class="car-delete"> ELIMINAR AUTO {{ car.brand }} {{ car.model }} </h3>

<form method="POST" action="" class="delete-car">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="delete"> ELIMINAR AUTO </button>
</form>