{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Akronim&family=GFS+Didot&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'home/css/estilos.css' %}">

<h3> MODIFICAR AUTO {{ car.brand }} {{ car.model }} </h3>

<form action="" method="POST">
    {% csrf_token %}

    <div>
        <label for="{{ form.external_color.id_for_label }}"> COLOR EXTERNO </label> <br>
        {{ form.external_color }}
    </div>
    <br>

    <div>
        <label for="{{ form.internal_color.id_for_label }}"> COLOR INTERNO </label> <br>
        {{ form.internal_color }}
    </div>
    <br>

    <div>
        <label for="{{ form.stock.id_for_label }}"> STOCK </label> <br>
        {{ form.stock }}
    </div>
    <br>

    <div>
        <label for="{{ form.availability.id_for_label }}"> DISPONIBILIDAD </label> <br>
        {{ form.availability }}
    </div>
    <br>

    <div>
        <label for="{{ form.price.id_for_label }}"> PRECIO </label> <br>
        {{ form.price }}
    </div>
    <br>

    <button type="submit"> MODIFICAR AUTO </button>
</form>