{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'home/css/estilos.css' %}">

<h3 class="create-car"> NUEVO AUTO A LA VENTA </h3>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}

    <h3 class="car-data"> INFORMACION GENERAL </h3>
    <div class="car-create">
        <label for="{{ form.brand.id_for_label }}"> MARCA </label> <br>
        <div class="input-car">
            {{ form.brand }}
        </div>
    </div>
    <br>

    <div class="car-create">
        <label for="{{ form.photo.id_for_label }}"> FOTO DEL AUTO </label> <br>
        <div class="input-car">
            {{ form.photo }}
        </div>
    </div>
    <br>

    <div class="car-create">
        <label for="{{ form.photo_interior.id_for_label }}"> FOTOS DEL INTERIOR </label> <br>
        <div class="input-car">
            {{ form.photo_interior }}
        </div>
    </div>
    <br>

    <div class="car-create">
        <label for="{{ form.model.id_for_label }}"> MODELO </label> <br>
        <div class="input-car">
            {{ form.model }}
        </div>
    </div>
    <br>

    <div class="car-create">
        <label for="{{ form.preview.id_for_label }}"> PREVIEW </label> <br>
        <div class="input-car">
            {{ form.preview }}
        </div>
    </div>
    <br>

    <div class="car-create">
        <label for="{{ form.description.id_for_label }}"> DESCRIPCION </label> <br>
        <div class="input-car">
            {{ form.description }}
        </div>
    </div>
    <br>

    <div class="car-create">
        <label for="{{ form.price.id_for_label }}"> PRECIO </label> <br>
        <div class="input-car">
            {{ form.price }}
        </div>
    </div>
    <br>

    <h3 class="car-data"> DISEÑO </h3>
    <div class="car-create">
        <label for="{{ form.external_color.id_for_label }}"> COLOR EXTERIOR </label> <br>
        <div class="input-car">
            {{ form.external_color }}
        </div>
    </div>
    <br>

    <div class="car-create">
        <label for="{{ form.internal_color.id_for_label }}"> COLOR INTERIOR </label> <br>
        <div class="input-car">
            {{ form.internal_color }}
        </div>
    </div>
    <br>

    <div class="car-create">
        <label for="{{ form.tires.id_for_label }}"> LLANTAS </label> <br>
        <div class="input-car">
            {{ form.tires }}
        </div>
    </div>
    <br>

    <h3 class="car-data"> RENDIMIENTO </h3>

    <div class="car-create">
        <label for="{{ form.max_speed.id_for_label }}"> VELOCIDAD MAX. </label> <br>
        <div class="input-car">
            {{ form.max_speed }}
        </div>
    </div>
    <br>

    <div class="car-create">
        <label for="{{ form.tire.id_for_label }}"> NEUMATICOS </label> <br>
        <div class="input-car">
            {{ form.tire }}
        </div>
    </div>
    <br>

    <h3 class="car-data"> INVENTARIO </h3>
    <div class="car-create">
        <label for="{{ form.stock.id_for_label }}"> STOCK </label> <br>
        <div class="input-car">
            {{ form.stock }}
        </div>
    </div>
    <br>

    <div class="car-create">
        <label for="{{ form.availability.id_for_label }}"> DISPONIBILIDAD </label> <br>
        <div class="input-car">
            {{ form.availability }}
        </div>
    </div>
    <br>

    <div class="car-create">
        <label for="{{ form.price.id_for_label }}"> PRECIO </label> <br>
        <div class="input-car">
            {{ form.price }}
        </div>
    </div>

    <button type="submit" class="car-new"> CREAR AUTO A LA VENTA </button>
</form>