{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Akronim&family=GFS+Didot&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">

<h3> NUEVO AUTO A LA VENTA </h3>

<form action="" method="POST">
    {% csrf_token %}

    <div>
        <label for="{{ form.brand.id_for_label }}"> MARCA </label> <br>
        {{ form.brand }}
    </div>
    <br>

    <div>
        <label for="{{ form.model.id_for_label }}"> MODELO </label> <br>
        {{ form.model }}
    </div>
    <br>

    <div>
        <label for="{{ form.preview.id_for_label }}"> PREVIEW </label> <br>
        {{ form.preview }}
    </div>
    <br>

    <div>
        <label for="{{ form.description.id_for_label }}"> DESCRIPCION </label> <br>
        {{ form.description }}
    </div>
    <br>

    <div>
        <label for="{{ form.external_color.id_for_label }}"> COLOR EXTERIOR </label> <br>
        {{ form.external_color }}
    </div>
    <br>

    <div>
        <label for="{{ form.internal_color.id_for_label }}"> COLOR INTERIOR </label> <br>
        {{ form.internal_color }}
    </div>
    <br>

    <div>
        <label for="{{ form.dimmenssion.id_for_label }}"> DIMENSION </label> <br>
        {{ form.dimmenssion }}
    </div>
    <br>

    <div>
        <label for="{{ form.weight.id_for_label }}"> PESO </label> <br>
        {{ form.weight }}
    </div>
    <br>

    <div>
        <label for="{{ form.consumtion.id_for_label }}"> CONSUMO </label> <br>
        {{ form.consumtion }}
    </div>
    <br>

    <div>
        <label for="{{ form.stock.id_for_label }}"> STOCK </label> <br>
        {{ form.stock }}
    </div>
    <br>

    <div>
        <label for="{{ form.availability.id_for_label }}"> DISPONIBILIDAD </label> <br>
        {{ form.availability }}
    </div>
    <br>

    <div>
        <label for="{{ form.price.id_for_label }}"> PRECIO </label> <br>
        {{ form.price }}
    </div>
    <br>

    <button type="submit"> CREAR AUTO A LA VENTA </button>
</form>