{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Akronim&family=GFS+Didot&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'home/css/estilos.css' %}">

<article>
    <h3> {{ car.brand }} {{ car.model }} </h3>
    <img src="{{ car.photo.url }}" width="300">
    <p class="description-car"> {{ car.description }} </p>
    <br>
    <img src="{{ car.photo_interior.url }}" width="300">
    <br>

    <a href="{% url 'car:modify_car' car.pk %}" class="manage-car"> MODIFICAR AUTO </a>
    <a href="{% url 'car:delete_car' car.pk %}" class="manage-car"> ELIMINAR AUTO </a>
    <br><br><br>

    <h3 class="specification"> ESPECIFICACIONES </h3>

    <table class="specification-car">
        <tr>
            <td > Marca </td>
            <td > {{ car.brand }} </td>
        </tr>
        <tr>
            <td class="car-specification"> Modelo </td>
            <td class="car-specification"> {{ car.model }} </td>
        </tr>
        <tr>
            <td class="car-specification"> Color Exterior </td>
            <td class="car-specification"> {{ car.external_color }} </td>
        </tr>
        <tr>
            <td class="car-specification"> Color Interior </td>
            <td class="car-specification"> {{ car.internal_color }} </td>
        </tr>
        <tr>
            <td class="car-specification"> Motor </td>
            <td class="car-specification"> {{ car.motor }} </td>
        </tr>
        <tr>
            <td class="car-specification"> Dimension </td>
            <td class="car-specification"> {{ car.dimmenssion }} </td>
        </tr>
        <tr>
            <td class="car-specification"> Consumo </td>
            <td class="car-specification"> {{ car.consumtion }} </td>
        </tr>
        <tr>
            <td class="car-specification"> Stock </td>
            <td class="car-specification"> {{ car.stock }} </td>
        </tr>
        <tr>
            <td class="car-specification"> Disponibilidad </td>
            <td class="car-specification"> {{ car.availability }} </td>
        </tr>
    </table>

    <p> Precio <br>
        {{ car.price }}
    </p>
</article>

<nav>
    <a href="{% url 'dashboard' %}" class="return"> VOLVER AL DASHBOARD</a>
</nav>